<section id="habilidades">
    <MudPaper Class="section-paper">
        <MudText Typo="Typo.h4">Habilidades</MudText>

        <MudCarousel Class="mud-width-full" Style="height:400px;" TData="object" AutoCycle="true">

            <MudCarouselItem>
                <MudCard Class="bg-dark text-white">
                    <MudCardHeader>
                        <CardHeaderAvatar>
                            <MudAvatar Color="Color.Warning">W</MudAvatar>
                        </CardHeaderAvatar>
                        <CardHeaderContent>
                            <MudText Typo="Typo.body1">Desenvolvimento Web</MudText>
                            <MudText Typo="Typo.body2">Aplicações modernas para web utilizando Angular, React e Blazor.</MudText>
                        </CardHeaderContent>
                    </MudCardHeader>
                    <MudCardMedia Image="images/web-development.jpg" Height="250" />
                    <MudCardContent>
                        <MudText Typo="Typo.body2">Desenvolvimento focado em performance e escalabilidade.</MudText>
                    </MudCardContent>
                    <MudCardActions>
                        <MudIconButton Icon="@Icons.Material.Filled.Favorite" Color="Color.Default" />
                        <MudIconButton Icon="@Icons.Material.Filled.Share" Color="Color.Default" />
                    </MudCardActions>
                </MudCard>
            </MudCarouselItem>

            <MudCarouselItem>
                <MudCard Class="bg-dark text-white">
                    <MudCardHeader>
                        <CardHeaderAvatar>
                            <MudAvatar Color="Color.Warning">M</MudAvatar>
                        </CardHeaderAvatar>
                        <CardHeaderContent>
                            <MudText Typo="Typo.body1">Aplicativos Mobile</MudText>
                            <MudText Typo="Typo.body2">Desenvolvimento nativo e híbrido para Android e iOS.</MudText>
                        </CardHeaderContent>
                    </MudCardHeader>
                    <MudCardMedia Image="images/mobile-development.jpg" Height="250" />
                    <MudCardContent>
                        <MudText Typo="Typo.body2">Aplicações otimizadas para dispositivos móveis.</MudText>
                    </MudCardContent>
                    <MudCardActions>
                        <MudIconButton Icon="@Icons.Material.Filled.Favorite" Color="Color.Default" />
                        <MudIconButton Icon="@Icons.Material.Filled.Share" Color="Color.Default" />
                    </MudCardActions>
                </MudCard>
            </MudCarouselItem>

            <MudCarouselItem>
                <MudCard Class="bg-dark text-white">
                    <MudCardHeader>
                        <CardHeaderAvatar>
                            <MudAvatar Color="Color.Warning">R</MudAvatar>
                        </CardHeaderAvatar>
                        <CardHeaderContent>
                            <MudText Typo="Typo.body1">Automação RPA</MudText>
                            <MudText Typo="Typo.body2">Processos automatizados para ganho de produtividade.</MudText>
                        </CardHeaderContent>
                    </MudCardHeader>
                    <MudCardMedia Image="images/rpa.jpg" Height="250" />
                    <MudCardContent>
                        <MudText Typo="Typo.body2">Elimine tarefas manuais e otimize processos.</MudText>
                    </MudCardContent>
                    <MudCardActions>
                        <MudIconButton Icon="@Icons.Material.Filled.Favorite" Color="Color.Default" />
                        <MudIconButton Icon="@Icons.Material.Filled.Share" Color="Color.Default" />
                    </MudCardActions>
                </MudCard>
            </MudCarouselItem>

        </MudCarousel>
    </MudPaper>
</section>