@inherits LayoutComponentBase

<MudThemeProvider />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />
<MudLayout>
    <MudAppBar Elevation="1">
        <div class="d-none d-md-flex justify-content-center w-100">
            <MudBreadcrumbs Items="_items" Separator=""></MudBreadcrumbs>
        </div>
        <div class="d-flex d-md-none justify-center align-center mud-height-full">
            <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@(() => ToggleDrawer(Anchor.Start))" />
        </div>
        <div class="d-flex d-md-none ms-auto align-items-center mud-height-full pe-3">
            Gamboa Solutions
        </div>
    </MudAppBar>
    <MudDrawer @bind-Open="@_drawerOpen"
               Elevation="1"
               Variant="@DrawerVariant.Temporary" OverlayAutoClose="@_overlayAutoClose"
               Color="Color.Dark"
               Anchor="@_anchor">
        <MudNavMenu Margin="Margin.Dense">
            <MudNavLink Href="#sobre" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Info" IconColor="Color.Secondary">Sobre</MudNavLink>
            <MudNavLink Href="#servicos" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Build" IconColor="Color.Secondary">Serviços</MudNavLink>
            <MudNavLink Href="#contato" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Email" IconColor="Color.Secondary">Contato</MudNavLink>
        </MudNavMenu>
    </MudDrawer>
    <MudMainContent Class="pt-16 px-16">
            @Body
    </MudMainContent>
</MudLayout>

@code
{
    private bool _drawerOpen = false;
    private Anchor _anchor;
    private bool _overlayAutoClose = true;

    private List<BreadcrumbItem> _items = new()
    {
        new("Sobre", href: "#sobre", icon: Icons.Material.Filled.Info),
        new("Serviços", href: "#servicos", icon: Icons.Material.Filled.Build),
        new("Contato", href: "#contato", icon: Icons.Material.Filled.Email)
    };

    private void ToggleDrawer(Anchor anchor)
    {
        _anchor = anchor;
        _drawerOpen = !_drawerOpen;
        StateHasChanged();
    }
}
