@inherits LayoutComponentBase

<MudThemeProvider />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />
<MudLayout>
    <MudAppBar Elevation="1">
        <MudImage Src="_content/AppGamboaSite.Shared/image/imagem_sem_fundo.png" Alt="Logo" Style="height:40px;" Class="ml-4" /> @* Substitua pelo seu logo *@
        <MudSpacer />
        <div class="d-none d-md-flex justify-content-center w-100">
            <MudBreadcrumbs Items="_items" Separator=""></MudBreadcrumbs>
        </div>
        <div class="d-flex d-md-none justify-center align-center mud-height-full">
            <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@(() => ToggleDrawer(Anchor.Start))" />
        </div>
        <div class="d-flex d-md-none ms-auto align-items-center mud-height-full pe-3">
            Gamboa Solutions
        </div>
    </MudAppBar>
    <MudDrawer @bind-Open="@_drawerOpen"
               Elevation="1"
               Variant="@DrawerVariant.Temporary" OverlayAutoClose="@_overlayAutoClose"
               Color="Color.Dark"
               Anchor="@_anchor">
        <MudNavMenu Margin="Margin.Dense">
            <MudNavLink Href="#sobre" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Info" IconColor="Color.Secondary">Sobre</MudNavLink>
            <MudNavLink Href="#servicos" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Build" IconColor="Color.Secondary">Serviços</MudNavLink>
            <MudNavLink Href="#contato" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Email" IconColor="Color.Secondary">Contato</MudNavLink>
            <MudNavLink Href="/image-remover" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Image" IconColor="Color.Secondary">Image</MudNavLink>

        </MudNavMenu>
    </MudDrawer>
    <MudMainContent Class="pt-16 px-16">
            @Body
    </MudMainContent>
    <Footer />
</MudLayout>

